html{
  scroll-behavior: smooth;
}
body, html{
  margin:0;
  padding:0;
  -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }
  100% {
      transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }
  .content {
      height: 30vh;
  }
  /* h1 {
      font-size: 24px;
  } */
}

.mainContent{
  margin-top: 5em;
}

.headline{
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  margin: auto;
  display: block;
  text-align: -webkit-center;
  padding: 10px;
}
.card{
  margin-bottom: 10px;
}
.profileImg{
  width: 300px;
  border-radius: 50%;
  /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
  margin: auto;
  margin-top: 50px;
  display: block;
}
.sparkFilterImg{
  border: 10px black solid;
  margin: 20px;
}
.projectImages img{
  width: 250px;
  height: 250px;
}
.inner-container{
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
.contact-section{
  text-align: center;
  background: #ededed!important;
  padding-top: 3em;
  padding-bottom: 4em;
}
.contact-button{
  border-radius: 5px;
  border: 1px solid rgba(231,47,0,1);
  padding: 1em 1.5em;
  display: inline-block;
  font-size: 1em;
  margin: 0 1em;
  margin-bottom: 1em;
  min-width: 10em;
  transition: all .25s ease;
}
.socialButtons{
  display: block;
}
.border{
  border: 1px solid #f0eeee;
}
.navbar{
  background: #ededed!important;
}
.navbar-collapse{
  margin-left: 2em;
}
.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.mockupImage{
  width: 300px;
}
p{
  font-family: 'Playfair Display', serif;
  /* font-size: 24px; */
  margin: auto;
  padding-top: 0.5em;
  display: block;
  /* text-align: -webkit-center;
  padding: 10px; */
}
ul{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
a{
  color: #000;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-weight: 700;
  transition: .2s;
  display: inline-block;
}
p a{
  color: #02bd7b;
}
p a:hover{
  color: #000;
  text-decoration: none;
  transform: scale(1.0);
}
a:hover{
  color: #000;
  text-decoration: none;
  transform: scale(1.1);
}
h1{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin: auto;
  display: block;
}
h3{
  font-size: 2em;
}
h4{
  font-size: 1.25em;
}
h2{
  font-size: 4.2em;
  line-height: 140%;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-9 23:41:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* .navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
} */
