body,html{

}
h1{
  color: #FFF;
  position: absolute;
  z-index: 1;
  font-size: 50px;
  font-family: 'Spectral SC', serif;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 5%;
}
h2{
  color: #FFF;
  z-index: 1;
  position: absolute;
  font-family: 'Spectral SC', serif;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 15%;
}
input{
  z-index: 1;
  position: absolute;
  width: 350px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
}
button{
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 75px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    /*&filter: sepia(1);*/
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


#playerHand {
    clear: both;
    height: 250px;
    width: 1000px;
}

#dealerHand {
    clear: both;
    height: 250px;
    width: 1000px;
}

#btnStand{
    display:none;
}

#btnHit{
    display:none;
}

#btnRestart{
    display:none;
}
